
*, *:before, *:after {
    box-sizing: border-box;
}


:root {
    --spacer-container: 3rem;
    --vertical-spacer: 3rem;

    @include media-size-s-and-more {
        --spacer-container: 5rem;
        --vertical-spacer: 5rem;
    }
    @include media-size-m-and-more {
        --spacer-container: 10rem;
        --vertical-spacer: 5rem;
    }


}


html {
    height: 100%;
    overflow-y: scroll;
    font-size: 62.5%;
    font-size: calc(1em * .625);
    line-height: $line-height-base;
    background-color: $color-bg;
}


// défintion des styles globaux des textes
body {
    min-width: 32rem;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: $color-bg;
    font-family: $font-main;
    font-size: $font-size-base;
    color: $color-text;

    overflow-x: hidden;

    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



// liens
a {
    transition: color .3s;
    cursor: pointer;
    &, &:visited {
        color: $color-main;
        text-decoration: none;
    }
    &:hover, &:active, &:focus {
        color: lighten($color-main, 10%);
        text-decoration: underline;
    }
}

.no-link{
    &,
    & > a {
        cursor: default;
    }
}


// custom outline
* {
  &:focus {
    outline: 1px dashed #BBB;
    outline-offset: .15em;

    &[tabindex="-1"] {
      outline: none;
    }
  }
}


/* selection */
::-moz-selection{
    background: $color-contrast;
    text-shadow: none;
    color: #000;
}
::selection {
    background: $color-contrast;
    text-shadow: none;
    color: #000;
}




// Responsive images
// --------------------------------------------------------------------------

img {
    display: block;
    max-width: 100%;
    height: auto;
}


figure {
    margin: 0;
}

// SVG icons
// --------------------------------------------------------------------------

svg[class^="icon"] {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
}



// classes génériques

// .container {
//     display: block;
//     position: relative;
//     max-width: $size-xl;
//     margin: 0 auto;
//     @media only screen and (min-width : $size-xl + $gutter-s + $gutter-s ) {
//         margin-left: auto;
//         margin-right: auto;
//     }
// }



.container,
.container-page {
    display: block;
    position: relative;
    max-width: $size-xxl;
    margin: 0 var(--spacer-container);
    @include media-size-xxl-and-more {
        width: $size-xxl;
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--spacer-container);
        padding-right: var(--spacer-container);
    }
}


