
// broken images
// concept : https://bitsofco.de/styling-broken-images/

img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    font-family: $font-main;
    font-weight: normal;
    line-height: 2;
    text-align: center;


    &:before {
        content: " ";
        display: block;
        position: relative;
        top: -10px;
        left: 0;
        // height: calc(100% + 10px);
        height: 100px;
        width: 100%;
        background-color: rgb(230, 230, 230);
        border: 2px dotted rgb(200, 200, 200);
        border-radius: 5px;
    }

    &:after {
        content: " Image de '" attr(alt) "' indisponible :(";

        font-size: 14px;
        // font-family: $font-pictos;
        color: rgb(100, 100, 100);

        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
