/*
 * Placeholders
 */


// [doc] Enable inline block as far back as IE7. [/doc]
%inline-block {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

// [doc] Remove iOS and OSX defaults. [/doc]
%webkit-appearance-reset {
    -webkit-appearance: none;
}



/*
 * Typographic Modifiers
 */

// Split long words over multiple lines. Useful for hyperlinks.
// The same as applying .break-text
%prevent-text-breakouts {
    word-wrap: break-word;
    hyphens: auto;
}

// Truncate single line text and cap it with an ellipsis.
%truncate-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// Cancels out the default font-smoothing: antialiased effect.
// It makes the characters bolder and works well on small type.
%subpixel-text {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-smoothing: subpixel-antialiased;
}





// centrage vertical
%s-table {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    float: none;
}

%s-table-row {
    // element facultatif
    position: relative;
    display: table-row;
    float: none;
}

%s-table-cell {
    position: relative;
    display: table-cell ;
    vertical-align: middle;
    float: none;
}



// liste sans bullets
%list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


// screen readers
// %sr-only {
//   border: 0 !important;
//   clip: rect(1px, 1px, 1px, 1px) !important;
//   -webkit-clip-path: inset(50%) !important;
//           clip-path: inset(50%) !important;
//   height: 1px !important;
//   overflow: hidden !important;
//   padding: 0 !important;
//   position: absolute !important;
//   width: 1px !important;
//   white-space: nowrap !important;
// }


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}