
.check-responsive {
    // display: none
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;

    &:after {
        display: none;
        content: "xs";
    }

    @media (min-width: $size-s) {
        height: 2px;
        &:after {
            content: "s";
        }
    }

    @media (min-width: $size-m) {
        height: 3px;
        &:after {
            content: "m";
        }
    }

    @media (min-width: $size-l) {
        height: 4px;
        &:after {
            content: "l";
        }
    }

    @media (min-width: $size-xl) {
        height: 5px;
        &:after {
            content: "xl";
        }
    }
}
