//links

@mixin states-all {
    &,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        @content
    }
}

@mixin states-default {
    &,
    &:visited {
        @content
    }
}

@mixin states-hover {
    &:hover,
    &:focus,
    &:active {
        @content
    }
}