
// montserrat

@font-face {
    font-family: "montserrat";
    src: url('#{$fonts}montserrat/montserrat-regular.woff2') format('woff2'),
         url('#{$fonts}montserrat/montserrat-regular.woff') format('woff'),
         url('#{$fonts}montserrat/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url('#{$fonts}montserrat/montserrat-bold.woff2') format('woff2'),
         url('#{$fonts}montserrat/montserrat-bold.woff') format('woff'),
         url('#{$fonts}montserrat/montserrat-bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url('#{$fonts}montserrat/montserrat-semibold.woff2') format('woff2'),
         url('#{$fonts}montserrat/montserrat-semibold.woff') format('woff'),
         url('#{$fonts}montserrat/montserrat-semibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url('#{$fonts}montserrat/montserrat-italic.woff2') format('woff2'),
         url('#{$fonts}montserrat/montserrat-italic.woff') format('woff'),
         url('#{$fonts}montserrat/montserrat-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "montserrat";
    src: url('#{$fonts}montserrat/montserrat-semibolditalic.woff2') format('woff2'),
         url('#{$fonts}montserrat/montserrat-semibolditalic.woff') format('woff'),
         url('#{$fonts}montserrat/montserrat-semibolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}



// Playfair

@font-face {
    font-family: "playfair";
    src: url('#{$fonts}playfair/playfair-bold.woff2') format('woff2'),
         url('#{$fonts}playfair/playfair-bold.woff') format('woff'),
         url('#{$fonts}playfair/playfair-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "playfair";
    src: url('#{$fonts}playfair/playfair-italic.woff2') format('woff2'),
         url('#{$fonts}playfair/playfair-italic.woff') format('woff'),
         url('#{$fonts}playfair/playfair-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "playfair";
    src: url('#{$fonts}playfair/playfair-bolditalic.woff2') format('woff2'),
         url('#{$fonts}playfair/playfair-bolditalic.woff') format('woff'),
         url('#{$fonts}playfair/playfair-bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
