
/*
 * Folders
 */
$assets: "../";
$fonts: $assets + "fonts/";
$img: $assets + "img/";
$video: $assets + "videos/";


/*
 * Colors
 */
$color-main: #000;      // noir
$color-second: #fff;   // blanc
$color-contrast: #e7d1c2;  // dérivé de la dernière édition


$color-text: #000;
$color-text--light: #fff;
$text--ligh-opacity: .5;

$color-box: #a6a6a6;

$color-bg: #fff;

$color-success: #36d7b7;
$color-success-highlight: #418c7d;
$color-error: #ed4949;
$color-error-highlight: #bb3a3a;



/*
 * Fonts
 */

$font-main: ("montserrat", arial, sans-serif);
$font-title: ("playfair", georgia, serif);;


/*
 * Constants
 */

$font-size-base                 : 1.4rem;
$line-height-base               : 1.7143em;

$baseline                       : 2.4rem;

// $desktop-size: 960px
// $smartphone-size: 640px

// less device oriented sizes
// to be edited according to the design and design flexibility
$size-xxl: 192rem;  // pas plus large que ça
$size-xl: 144rem;  // grande taille
$size-l: 128rem;   // taille cible
$size-m: 108rem;   // réagencement
$size-s: 64rem;	   // version mobile

$gutter-l: 5rem;
$gutter: 3rem;
$gutter-s: 2rem;

// $radius: 2px;
// $spacing: 30px;

$size-click-s: 4.4rem;

// radius
$radius: 0; // 2px


// header
// $size-s-header-height--full: 80px;
// $size-s-header-height: 45px;
// $size-s-menu-spacing: 3px;



// maquette
$base-width: 1920;

$header-height: 8rem;
$header-mobile-height: 6rem;

