


.accordeon {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .accordeon__trigger {
            &:after {
                opacity: 1;
            }
        }
    }
}

.accordeon__trigger {
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 20%;
        width: 1rem;
        height: 1px;
        background-color:  $color-second;
    }

    &:after {
        // la flèche
        content: '';
        position: absolute;
        right: 0;
        top: 20%;
        margin-top: .3rem;
        display: block;
        width: 0;
        height: 0;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: .8rem solid $color-second;
        opacity: .5;
        transition: opacity .3s;
    }
}

.accordeon__open {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
}

.accordeon--open {
    .accordeon__open {
        max-height: 5rem;
    }

    .accordeon__trigger {
        &:after {
            opacity: 1;
        }
    }
}

