// block intro

.block-intro {
    text-align: center;
    font-family: 'playfair', serif;
    font-size: 9vw;
    line-height: 1.05em;

    @include media-size-s-and-more {
        font-size: 6vw;
    }
    @include media-size-m-and-more {
        font-size: 5vw;
    }
    @include media-size-l-and-more {
        font-size: 9.5rem;
        font-size: 6vw;
    }

    @include media-size-xl-and-more {
        font-size: 9rem;
    }

    p {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    .noise { background-image: url('#{$img}block-intro/noise.jpg'); }
    .bg1   { background-image: url('#{$img}block-intro/bg1.png'); }
    .bg2   { background-image: url('#{$img}block-intro/bg2.png'); }
    .bg3   { background-image: url('#{$img}block-intro/bg3.png'); }
}