// burger

.burger {
    border: 0;
    padding: 0;
    background: none;
    height: 5rem;
    width: 5rem;
    transform-origin: 50% 50%;
    animation-duration: .8s;
    animation-name: burger-in;
    animation-iteration-count: 1;

    span {
        position: absolute;
        height: .4rem;
        left: .9rem;
        background-color: currentColor;
        width: 5rem - (.9rem * 2);  // - le padding
        transition: transform 0s .4s, top 0s .4s, opacity 0s .4s;

        &:nth-child(1) {
            top: .9rem + .5rem;
        }

        &:nth-child(2) {
            top: 2rem + .5rem;
        }

        &:nth-child(3) {
            top: 3.2rem + .5rem;
        }
    }
}


.body--menu-visible {
    overflow: hidden;

    .burger {
        animation-name: burger-out;

        // passe des 3 traits à une croix
        span {
            &:nth-child(1) {
                top: 2.2rem;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                top: 2.2rem;
                transform: rotate(-45deg);
            }
        }
    }
}


@keyframes burger-in {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(-180deg) scale(0);

    }
    100% {
        transform: rotate(-360deg) scale(1);
    }
}


@keyframes burger-out {
    0% {
        transform: rotate(-360deg) scale(1);
    }
    50% {
        transform: rotate(-180deg) scale(0);

    }
    100% {
        transform: rotate(0) scale(1);
    }
}