

.button {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    padding: .8em .5em;
    min-width: 11em;
    letter-spacing: .1em;
    border: 1px solid $color-main;
    font-weight: 700;
    background-color: $color-main;
    text-align: center;
    transition:  background-color .3s, color .3s;

    &, &:visited,
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
    &, &:visited {
        color: $color-bg;
    }
    &:hover, &:focus, &:active {
        color: $color-main;
        background-color: #fff;
        // &:before {
        //     width: 100%;
        // }
    }
    &:active {
        border-color: $color-main;
        color: $color-main;
    }

    // &:before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 0%;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     background-color: $color-bg;
    //     transition: width .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    // }

    span {
        position: relative;
    }
}

.button--secondary {
    background-color: #fff;
    &, &:visited {
        color: $color-main;
    }
    &:hover, &:focus, &:active {
        color: $color-bg;
        background-color: $color-main;
    }
    &:active {
        border-color: $color-main;
        color: $color-main;
    }
}


.buttons {
    a {
        @extend .button;
    }
}
