
// texte entré grâce à l'éditeur tinyMCE
// à répercuter dans editor-style.sass


// yurk mais seul moyen d'overwriter le default
#tinymce {
    padding: 1rem !important;
}


.editor-content {

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    position: relative;
    // font-size: pxtoem(16, 10);
    line-height: pxtoem(24, 16);
    color: $color-text;

    p,
    > div {
        margin: pxtoem(20, 16) 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin: pxtoem(20, 16) 0;
        padding: 0;
        list-style-type: none;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin: pxtoem(10, 16) 0;
        padding: 0;
        &:before {
            content: "- ";
        }
    }

    h2 {
        margin-top: pxtoem(30, 16);
        margin-bottom: 1.2em;
        font-size: pxtoem(22, 16);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $color-main;
        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        margin-top: pxtoem(30, 16);
        margin-bottom: 1.2em;
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $color-main;
        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        margin-top: pxtoem(30, 16);
        margin-bottom: 1.3em;
        font-weight: 700;
        &:first-child {
            margin-top: 0;
        }
    }

    .fl-intro {
        font-size: 1.15em;
        font-weight: 700;
        margin: 1.2em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        &, &:visited,
        &:hover, &:focus, &:active {
            color: $color-main;
            text-decoration: underline;
        }
        &:hover, &:focus, &:active {
            color: $color-main;
        }
    }

    strong, b {
        font-weight: 700;
    }

    i, em {
        font-style: italic;
    }

    .emphasis {
        color: $color-text;
        font-size: pxtoem(24, 16);
        line-height: 1.6em;
        text-transform: uppercase;
    }

    .wp-caption {
        margin: 0 auto;
        max-width: 100% !important; // overide inline-style

        img  {
            display: inline-block;
        }

        .wp-caption-text {
            margin: $gutter auto;
        }
    }

    .wp-caption-dd,
    .fl-caption,
    .wp-caption-text {
        margin-top: .8em;
        font-size: pxtoem(14, 16);
        line-height: 1.4em;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-title;
        color: $color-text;
        display: block;
        @include media-size-s-and-more {
            padding-right: 10%;
            padding-left: 10%;
        }
    }

    .aligncenter {
        text-align: center;
        width: auto !important; // pour overwriter l'éditeur qui met des styles inline
    }

    .alignleft,
    .alignright {
        padding: $gutter;
        clear: both;
    }

    .alignleft {
        float: left ;
        padding-left: 0;
    }

    .alignright {
        float: right ;
        padding-right: 0;
    }

    img {
        position: relative;
        width: 100%;
        height: auto;

        &.aligncenter {
            @include media-size-s-and-more {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &.alignleft, &.alignright {
            @include media-size-s-and-more {
                width: auto;
            }
        }
    }

    table {
        position: relative;
        // bouh : l'éditeur wisiwig wp met une width en dur au tableau :/
        width: 100% !important ;
        border-collapse: collapse;

        td {
            border: 1px solid $color-text;
            padding: 5px;
        }
    }

    hr {
        border-top: 2px solid $color-text;
    }





    // gallery

    .gallery {
        @extend %list-reset;

        li {
            margin: 0;

            // overide
            &:before {
                content: "";
                display: none;
            }
        }
    }


    // pictor sproduits locaux, devloppement durable & co

    .pictos {
        @extend %list-reset;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: #AAA;
        font-size: 1.3rem;
        text-align: center;
        margin: 2rem 0;
        line-height: 1.3em;

        li {
            margin: 0;
            padding: 0 2rem;
            &:before {
                content: "";
            }
        }

        img {
            display: block;
            margin: 0 auto 1rem;
            width: auto;
        }
    }



    // @import   "partials/components/swiper";
    @import   "partials/components/gallery";
    @import   "partials/components/button";

}