

// gallerie proporement dite se trouve dans swiper

.gallery-zoom {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    background-color: $color-second;
    transition: background-color .3s;

    &, &:visited,
    &:hover, &:focus, &:active {
        color: #fff;
        text-decoration: none;
    }

    &:hover, &:focus, &:active {
        // background-color: $color-second-highlight;
    }

    &:before {
        content: "+";
        display: block;
        // font-size: 2rem;
        line-height: 4rem;
        text-align: center;
    }
}
