// icons

.c-icon {
  position: relative;
  top: -.1em;
  display: inline-block;
  vertical-align: middle;
}

.c-icon__svg {
  display: inline-block;
  width: auto;
  height: em($baseline);
  vertical-align: top;
  fill: currentColor;
  stroke-width: 0;
  stroke: currentColor;
}

// monospace icons
.c-icon--monospace::before, .c-icon-after--monospace::after {
    width: 1.25em;
    text-align: center;
}

// rotated icons
.c-icon--rotate-90::before, .c-icon-after--rotate-90::after {
    transform: rotate(90deg);
}
.c-icon--rotate-180::before, .c-icon-after--rotate-180::after {
    transform: rotate(180deg);
}
.c-icon--rotate-270::before, .c-icon-after--rotate-270::after {
    transform: rotate(270deg);
}

// flipped icons
.c-icon--flip-horizontal::before, .c-icon-after--flip-horizontal::after {
    transform: scaleX(-1);
}
.c-icon--flip-vertical::before, .c-icon-after--flip-vertical::after {
    transform: scaleY(-1);
}