// links


.c-link {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
        background-color: currentColor;
        transform-origin: 0 0;
        transform: scale(0);
        transition: transform .2s;
        will-change: transform;
    }

    @include states-hover {
        text-decoration: none;
        &:after {
            transform: scale(1);
        }
    }

}



