// list in line


.list-line {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0 .8rem;

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: -1px;
            top: 50%;
            height: 1em;
            width: 1px;
            transform: translateY(-50%);
            background-color: currentColor;

        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
