// nav language


.nav-language {
    font-weight: 900;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        @include media-size-s-and-more {
            justify-content: flex-start;
        }
    }
}

.nav-language__list-item {
    margin-left: .1em;
    margin-right: .1em;
}

.nav-language_item--current {
    &:after {
        transform: scale(1);
    }
}

