
.pagination {
    position: relative;
    text-align: center;
    font-family: $font-title;

    h2 {
        @extend .visuallyhidden;
    }
}


.page-numbers {
    font-size: 1.6rem;
    letter-spacing: 3px;
    font-weight: 700;
    padding: .5em .5em;

    @include media-size-s-and-more {
        padding: 0 .3em;
    }


    &, &:visited, &:hover, &:active, &:focus {
        text-decoration: none;
    }
    &, &:visited,
    &:hover, &:active, &:focus {
        color: $color-text;
    }

    &.current {
        &, &:visited, &:hover, &:active, &:focus {
            font-weight: 700;
            text-decoration: underline;
        }
    }

    &.prev,
    &.next,
    &.more {
        text-transform: uppercase;
    }

    &.prev {
        // float: left;
        position: absolute;
        left: 0;
        @include media-size-s-and-less {
            display: none;
        }

        // &:before {
        //     content: "«";
        //     padding-right: .5em;
        // }
    }

    &.next {
        // float: right;
        position: absolute;
        right: 0;
        @include media-size-s-and-less {
            display: none;
        }

        // &:after {
        //     content: "»";
        //     padding-left: .5em;
        // }
    }
}