
// petite fèche qui permet de remonter en haut

// comportement js dans js/application/commonc/utilities/app.scroll-to.js

.scroll-top {
    position: fixed;
    bottom: $gutter;
    right: $gutter;
    height: 40px;
    width: 40px;
    border: 1px solid $color-text;
    background-color: #FFF;
    // color: $color-text;
    // border-radius: 50%;
    z-index: 100;
    overflow: hidden;
    text-align: center;

    // http://easings.net/fr#easeInOutBack
    transition: bottom .6s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color .6s;

    @include media-size-s-and-more {
        height: 25px;
        width: 25px;
    }


    i {
        text-decoration: none;
        color: $color-text;
        font-size: 2.2em;
        line-height: (40px - 4px);// hauteur - border
        margin-top: -1px;  // pour une impression de recentrage visuel
        @include media-size-s-and-more {
            font-size: 1.5em;
            line-height: (25px - 4px);  // hauteur - border
        }
    }

    // &:after
    //     position: absolute
    //     content: "^"
    //     top: -5px
    //     left: 0
    //     right: 0
    //     text-align: center
    //     font-size: 30px
    //     // line-height: 40px

    // &, &:visited
    //     border-color: $color-main
    // &:hover, &:active, &:focus
    //     border-color: $color-second
    //     color: $color-second

}


.scroll-top--hidden {
    bottom: -70px;
}



