.heateor_sss_meta,
.term-description-wrap {
  display: none; }

#event_tribe_venue,
#event_tribe_organizer,
#event_url,
#event_cost,
#tribe_events_event_options {
  display: none; }

.menu-icon-tribe_events li:nth-child(4), .menu-icon-tribe_events li:nth-child(6), .menu-icon-tribe_events li:nth-child(9) {
  display: none; }
