/*
 * Stylesheets for Project
 */
/*
 * Folders
 */
/*
 * Colors
 */
/*
 * Fonts
 */
/*
 * Constants
 */
@font-face {
  font-family: "montserrat";
  src: url("assets/fonts/montserrat/montserrat-regular.woff2") format("woff2"), url("assets/fonts/montserrat/montserrat-regular.woff") format("woff"), url("assets/fonts/montserrat/montserrat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "montserrat";
  src: url("assets/fonts/montserrat/montserrat-bold.woff2") format("woff2"), url("assets/fonts/montserrat/montserrat-bold.woff") format("woff"), url("assets/fonts/montserrat/montserrat-bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "montserrat";
  src: url("assets/fonts/montserrat/montserrat-semibold.woff2") format("woff2"), url("assets/fonts/montserrat/montserrat-semibold.woff") format("woff"), url("assets/fonts/montserrat/montserrat-semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "montserrat";
  src: url("assets/fonts/montserrat/montserrat-italic.woff2") format("woff2"), url("assets/fonts/montserrat/montserrat-italic.woff") format("woff"), url("assets/fonts/montserrat/montserrat-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "montserrat";
  src: url("assets/fonts/montserrat/montserrat-semibolditalic.woff2") format("woff2"), url("assets/fonts/montserrat/montserrat-semibolditalic.woff") format("woff"), url("assets/fonts/montserrat/montserrat-semibolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "playfair";
  src: url("assets/fonts/playfair/playfair-bold.woff2") format("woff2"), url("assets/fonts/playfair/playfair-bold.woff") format("woff"), url("assets/fonts/playfair/playfair-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "playfair";
  src: url("assets/fonts/playfair/playfair-italic.woff2") format("woff2"), url("assets/fonts/playfair/playfair-italic.woff") format("woff"), url("assets/fonts/playfair/playfair-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "playfair";
  src: url("assets/fonts/playfair/playfair-bolditalic.woff2") format("woff2"), url("assets/fonts/playfair/playfair-bolditalic.woff") format("woff"), url("assets/fonts/playfair/playfair-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

/*
 * FONT SIZES EM / REM
 */
/*
 * FLEXBOX
 */
/*
 * MEDIAQUERIES
 */
/*
 * Placeholders
 */
/*
 * Typographic Modifiers
 */
.editor-content .gallery, body#tinymce.wp-editor .gallery, .editor-content .pictos, body#tinymce.wp-editor .pictos {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

#tinymce {
  padding: 1rem !important; }

.editor-content, body#tinymce.wp-editor {
  position: relative;
  line-height: 1.5em;
  color: #000; }
  .editor-content .clearfix:before, body#tinymce.wp-editor .clearfix:before,
  .editor-content .clearfix:after,
  body#tinymce.wp-editor .clearfix:after {
    content: " ";
    display: table; }
  
  .editor-content .clearfix:after,
  body#tinymce.wp-editor .clearfix:after {
    clear: both; }
  .editor-content p, body#tinymce.wp-editor p,
  .editor-content > div,
  body#tinymce.wp-editor > div {
    margin: 1.25em 0; }
    .editor-content p:first-child, body#tinymce.wp-editor p:first-child,
    .editor-content > div:first-child,
    body#tinymce.wp-editor > div:first-child {
      margin-top: 0; }
    .editor-content p:last-child, body#tinymce.wp-editor p:last-child,
    .editor-content > div:last-child,
    body#tinymce.wp-editor > div:last-child {
      margin-bottom: 0; }
  .editor-content ul, body#tinymce.wp-editor ul {
    margin: 1.25em 0;
    padding: 0;
    list-style-type: none; }
    .editor-content ul:first-child, body#tinymce.wp-editor ul:first-child {
      margin-top: 0; }
    .editor-content ul:last-child, body#tinymce.wp-editor ul:last-child {
      margin-bottom: 0; }
  .editor-content li, body#tinymce.wp-editor li {
    margin: 0.625em 0;
    padding: 0; }
    .editor-content li:before, body#tinymce.wp-editor li:before {
      content: "- "; }
  .editor-content h2, body#tinymce.wp-editor h2 {
    margin-top: 1.875em;
    margin-bottom: 1.2em;
    font-size: 1.375em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000; }
    .editor-content h2:first-child, body#tinymce.wp-editor h2:first-child {
      margin-top: 0; }
  .editor-content h3, body#tinymce.wp-editor h3 {
    margin-top: 1.875em;
    margin-bottom: 1.2em;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000; }
    .editor-content h3:first-child, body#tinymce.wp-editor h3:first-child {
      margin-top: 0; }
  .editor-content h4, body#tinymce.wp-editor h4 {
    margin-top: 1.875em;
    margin-bottom: 1.3em;
    font-weight: 700; }
    .editor-content h4:first-child, body#tinymce.wp-editor h4:first-child {
      margin-top: 0; }
  .editor-content .fl-intro, body#tinymce.wp-editor .fl-intro {
    font-size: 1.15em;
    font-weight: 700;
    margin: 1.2em 0; }
    .editor-content .fl-intro:first-child, body#tinymce.wp-editor .fl-intro:first-child {
      margin-top: 0; }
    .editor-content .fl-intro:last-child, body#tinymce.wp-editor .fl-intro:last-child {
      margin-bottom: 0; }
  .editor-content a, body#tinymce.wp-editor a, .editor-content a:visited, body#tinymce.wp-editor a:visited, .editor-content a:hover, body#tinymce.wp-editor a:hover, .editor-content a:focus, body#tinymce.wp-editor a:focus, .editor-content a:active, body#tinymce.wp-editor a:active {
    color: #000;
    text-decoration: underline; }
  .editor-content a:hover, body#tinymce.wp-editor a:hover, .editor-content a:focus, body#tinymce.wp-editor a:focus, .editor-content a:active, body#tinymce.wp-editor a:active {
    color: #000; }
  .editor-content strong, body#tinymce.wp-editor strong, .editor-content b, body#tinymce.wp-editor b {
    font-weight: 700; }
  .editor-content i, body#tinymce.wp-editor i, .editor-content em, body#tinymce.wp-editor em {
    font-style: italic; }
  .editor-content .emphasis, body#tinymce.wp-editor .emphasis {
    color: #000;
    font-size: 1.5em;
    line-height: 1.6em;
    text-transform: uppercase; }
  .editor-content .wp-caption, body#tinymce.wp-editor .wp-caption {
    margin: 0 auto;
    max-width: 100% !important; }
    .editor-content .wp-caption img, body#tinymce.wp-editor .wp-caption img {
      display: inline-block; }
    .editor-content .wp-caption .wp-caption-text, body#tinymce.wp-editor .wp-caption .wp-caption-text {
      margin: 3rem auto; }
  .editor-content .wp-caption-dd, body#tinymce.wp-editor .wp-caption-dd,
  .editor-content .fl-caption,
  body#tinymce.wp-editor .fl-caption,
  .editor-content .wp-caption-text,
  body#tinymce.wp-editor .wp-caption-text {
    margin-top: .8em;
    font-size: 0.875em;
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "playfair", georgia, serif;
    color: #000;
    display: block; }
    @media only screen and (min-width: 64.1rem) {
      .editor-content .wp-caption-dd, body#tinymce.wp-editor .wp-caption-dd,
      .editor-content .fl-caption,
      body#tinymce.wp-editor .fl-caption,
      .editor-content .wp-caption-text,
      body#tinymce.wp-editor .wp-caption-text {
        padding-right: 10%;
        padding-left: 10%; } }
  .editor-content .aligncenter, body#tinymce.wp-editor .aligncenter {
    text-align: center;
    width: auto !important; }
  .editor-content .alignleft, body#tinymce.wp-editor .alignleft,
  .editor-content .alignright,
  body#tinymce.wp-editor .alignright {
    padding: 3rem;
    clear: both; }
  .editor-content .alignleft, body#tinymce.wp-editor .alignleft {
    float: left;
    padding-left: 0; }
  
  .editor-content .alignright,
  body#tinymce.wp-editor .alignright {
    float: right;
    padding-right: 0; }
  .editor-content img, body#tinymce.wp-editor img {
    position: relative;
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 64.1rem) {
      .editor-content img.aligncenter, body#tinymce.wp-editor img.aligncenter {
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 64.1rem) {
      .editor-content img.alignleft, body#tinymce.wp-editor img.alignleft, .editor-content img.alignright, body#tinymce.wp-editor img.alignright {
        width: auto; } }
  .editor-content table, body#tinymce.wp-editor table {
    position: relative;
    width: 100% !important;
    border-collapse: collapse; }
    .editor-content table td, body#tinymce.wp-editor table td {
      border: 1px solid #000;
      padding: 5px; }
  .editor-content hr, body#tinymce.wp-editor hr {
    border-top: 2px solid #000; }
  .editor-content .gallery li, body#tinymce.wp-editor .gallery li {
    margin: 0; }
    .editor-content .gallery li:before, body#tinymce.wp-editor .gallery li:before {
      content: "";
      display: none; }
  .editor-content .pictos, body#tinymce.wp-editor .pictos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #AAA;
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 0;
    line-height: 1.3em; }
    .editor-content .pictos li, body#tinymce.wp-editor .pictos li {
      margin: 0;
      padding: 0 2rem; }
      .editor-content .pictos li:before, body#tinymce.wp-editor .pictos li:before {
        content: ""; }
    .editor-content .pictos img, body#tinymce.wp-editor .pictos img {
      display: block;
      margin: 0 auto 1rem;
      width: auto; }
  .editor-content .gallery-zoom, body#tinymce.wp-editor .gallery-zoom {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    transition: background-color .3s; }
    .editor-content .gallery-zoom, body#tinymce.wp-editor .gallery-zoom, .editor-content .gallery-zoom:visited, body#tinymce.wp-editor .gallery-zoom:visited, .editor-content .gallery-zoom:hover, body#tinymce.wp-editor .gallery-zoom:hover, .editor-content .gallery-zoom:focus, body#tinymce.wp-editor .gallery-zoom:focus, .editor-content .gallery-zoom:active, body#tinymce.wp-editor .gallery-zoom:active {
      color: #fff;
      text-decoration: none; }
    .editor-content .gallery-zoom:before, body#tinymce.wp-editor .gallery-zoom:before {
      content: "+";
      display: block;
      line-height: 4rem;
      text-align: center; }
  .editor-content .button, body#tinymce.wp-editor .button, .editor-content .buttons a, .editor-content .buttons body#tinymce.wp-editor a, body#tinymce.wp-editor .buttons a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    padding: .8em .5em;
    min-width: 11em;
    letter-spacing: .1em;
    border: 1px solid #000;
    font-weight: 700;
    background-color: #000;
    text-align: center;
    transition: background-color .3s, color .3s; }
    .editor-content .button, body#tinymce.wp-editor .button, .editor-content .buttons a, .editor-content .buttons body#tinymce.wp-editor a, body#tinymce.wp-editor .buttons a, .editor-content .button:visited, body#tinymce.wp-editor .button:visited, .editor-content .buttons a:visited, .editor-content .buttons body#tinymce.wp-editor a:visited, body#tinymce.wp-editor .buttons a:visited, .editor-content .button:hover, body#tinymce.wp-editor .button:hover, .editor-content .buttons a:hover, .editor-content .buttons body#tinymce.wp-editor a:hover, body#tinymce.wp-editor .buttons a:hover, .editor-content .button:focus, body#tinymce.wp-editor .button:focus, .editor-content .buttons a:focus, .editor-content .buttons body#tinymce.wp-editor a:focus, body#tinymce.wp-editor .buttons a:focus, .editor-content .button:active, body#tinymce.wp-editor .button:active, .editor-content .buttons a:active, .editor-content .buttons body#tinymce.wp-editor a:active, body#tinymce.wp-editor .buttons a:active {
      text-decoration: none; }
    .editor-content .button, body#tinymce.wp-editor .button, .editor-content .buttons a, .editor-content .buttons body#tinymce.wp-editor a, body#tinymce.wp-editor .buttons a, .editor-content .button:visited, body#tinymce.wp-editor .button:visited, .editor-content .buttons a:visited, .editor-content .buttons body#tinymce.wp-editor a:visited, body#tinymce.wp-editor .buttons a:visited {
      color: #fff; }
    .editor-content .button:hover, body#tinymce.wp-editor .button:hover, .editor-content .buttons a:hover, .editor-content .buttons body#tinymce.wp-editor a:hover, body#tinymce.wp-editor .buttons a:hover, .editor-content .button:focus, body#tinymce.wp-editor .button:focus, .editor-content .buttons a:focus, .editor-content .buttons body#tinymce.wp-editor a:focus, body#tinymce.wp-editor .buttons a:focus, .editor-content .button:active, body#tinymce.wp-editor .button:active, .editor-content .buttons a:active, .editor-content .buttons body#tinymce.wp-editor a:active, body#tinymce.wp-editor .buttons a:active {
      color: #000;
      background-color: #fff; }
    .editor-content .button:active, body#tinymce.wp-editor .button:active, .editor-content .buttons a:active, .editor-content .buttons body#tinymce.wp-editor a:active, body#tinymce.wp-editor .buttons a:active {
      border-color: #000;
      color: #000; }
    .editor-content .button span, body#tinymce.wp-editor .button span, .editor-content .buttons a span, .editor-content .buttons body#tinymce.wp-editor a span, body#tinymce.wp-editor .buttons a span {
      position: relative; }
  .editor-content .button--secondary, body#tinymce.wp-editor .button--secondary {
    background-color: #fff; }
    .editor-content .button--secondary, body#tinymce.wp-editor .button--secondary, .editor-content .button--secondary:visited, body#tinymce.wp-editor .button--secondary:visited {
      color: #000; }
    .editor-content .button--secondary:hover, body#tinymce.wp-editor .button--secondary:hover, .editor-content .button--secondary:focus, body#tinymce.wp-editor .button--secondary:focus, .editor-content .button--secondary:active, body#tinymce.wp-editor .button--secondary:active {
      color: #fff;
      background-color: #000; }
    .editor-content .button--secondary:active, body#tinymce.wp-editor .button--secondary:active {
      border-color: #000;
      color: #000; }

body#tinymce.wp-editor {
  font-family: "montserrat", arial, sans-serif; }
