/*
 * Folders
 */
/*
 * Colors
 */
/*
 * Fonts
 */
/*
 * Constants
 */
/*
 * FONT SIZES EM / REM
 */
/*
 * FLEXBOX
 */
/*
 * Placeholders
 */
/*
 * Typographic Modifiers
 */
.editor-content .gallery, .editor-content .pictos {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold.woff") format("woff"), url("../fonts/montserrat/montserrat-bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat/montserrat-semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserrat-italic.woff2") format("woff2"), url("../fonts/montserrat/montserrat-italic.woff") format("woff"), url("../fonts/montserrat/montserrat-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserrat-semibolditalic.woff2") format("woff2"), url("../fonts/montserrat/montserrat-semibolditalic.woff") format("woff"), url("../fonts/montserrat/montserrat-semibolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "playfair";
  src: url("../fonts/playfair/playfair-bold.woff2") format("woff2"), url("../fonts/playfair/playfair-bold.woff") format("woff"), url("../fonts/playfair/playfair-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "playfair";
  src: url("../fonts/playfair/playfair-italic.woff2") format("woff2"), url("../fonts/playfair/playfair-italic.woff") format("woff"), url("../fonts/playfair/playfair-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "playfair";
  src: url("../fonts/playfair/playfair-bolditalic.woff2") format("woff2"), url("../fonts/playfair/playfair-bolditalic.woff") format("woff"), url("../fonts/playfair/playfair-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    transition: none !important; } }

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden, .pagination h2 {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .pagination h2.focusable:active,
.visuallyhidden.focusable:focus,
.pagination h2.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.check-responsive {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px; }
  .check-responsive:after {
    display: none;
    content: "xs"; }
  @media (min-width: 64rem) {
    .check-responsive {
      height: 2px; }
      .check-responsive:after {
        content: "s"; } }
  @media (min-width: 108rem) {
    .check-responsive {
      height: 3px; }
      .check-responsive:after {
        content: "m"; } }
  @media (min-width: 128rem) {
    .check-responsive {
      height: 4px; }
      .check-responsive:after {
        content: "l"; } }
  @media (min-width: 144rem) {
    .check-responsive {
      height: 5px; }
      .check-responsive:after {
        content: "xl"; } }

/*
 * MEDIAQUERIES
 */
*,
*:before,
*:after {
  box-sizing: border-box; }

:root {
  --spacer-container: 3rem;
  --vertical-spacer: 3rem; }
  @media only screen and (min-width: 64.1rem) {
    :root {
      --spacer-container: 5rem;
      --vertical-spacer: 5rem; } }
  @media only screen and (min-width: 108.1rem) {
    :root {
      --spacer-container: 10rem;
      --vertical-spacer: 5rem; } }

html {
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
  font-size: calc(1em * .625);
  line-height: 1.7143em;
  background-color: #fff; }

body {
  min-width: 32rem;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "montserrat", arial, sans-serif;
  font-size: 1.4rem;
  color: #000;
  overflow-x: hidden;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  transition: color .3s;
  cursor: pointer; }
  a,
  a:visited {
    color: #000;
    text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #1a1a1a;
    text-decoration: underline; }

.no-link,
.no-link > a {
  cursor: default; }

*:focus {
  outline: 1px dashed #BBB;
  outline-offset: .15em; }
  *:focus[tabindex="-1"] {
    outline: none; }

/* selection */
::-moz-selection {
  background: #e7d1c2;
  text-shadow: none;
  color: #000; }

::selection {
  background: #e7d1c2;
  text-shadow: none;
  color: #000; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

svg[class^="icon"] {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor; }

.container,
.container-page {
  display: block;
  position: relative;
  max-width: 192rem;
  margin: 0 var(--spacer-container); }
  @media only screen and (min-width: 192.1rem) {
    .container,
    .container-page {
      width: 192rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--spacer-container);
      padding-right: var(--spacer-container); } }

img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  font-family: "montserrat", arial, sans-serif;
  font-weight: normal;
  line-height: 2;
  text-align: center; }
  img:before {
    content: " ";
    display: block;
    position: relative;
    top: -10px;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #e6e6e6;
    border: 2px dotted #c8c8c8;
    border-radius: 5px; }
  img:after {
    content: " Image de '" attr(alt) "' indisponible :(";
    font-size: 14px;
    color: #646464;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.button, .buttons a, .editor-content .buttons a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  padding: .8em .5em;
  min-width: 11em;
  letter-spacing: .1em;
  border: 1px solid #000;
  font-weight: 700;
  background-color: #000;
  text-align: center;
  transition: background-color .3s, color .3s; }
  .button, .buttons a, .editor-content .buttons a, .button:visited, .buttons a:visited, .button:hover, .buttons a:hover, .button:focus, .buttons a:focus, .button:active, .buttons a:active {
    text-decoration: none; }
  .button, .buttons a, .editor-content .buttons a, .button:visited, .buttons a:visited {
    color: #fff; }
  .button:hover, .buttons a:hover, .button:focus, .buttons a:focus, .button:active, .buttons a:active {
    color: #000;
    background-color: #fff; }
  .button:active, .buttons a:active {
    border-color: #000;
    color: #000; }
  .button span, .buttons a span, .editor-content .buttons a span {
    position: relative; }

.button--secondary {
  background-color: #fff; }
  .button--secondary, .button--secondary:visited {
    color: #000; }
  .button--secondary:hover, .button--secondary:focus, .button--secondary:active {
    color: #fff;
    background-color: #000; }
  .button--secondary:active {
    border-color: #000;
    color: #000; }

.c-icon {
  position: relative;
  top: -.1em;
  display: inline-block;
  vertical-align: middle; }

.c-icon__svg {
  display: inline-block;
  width: auto;
  height: em(2.4rem);
  vertical-align: top;
  fill: currentColor;
  stroke-width: 0;
  stroke: currentColor; }

.c-icon--monospace::before, .c-icon-after--monospace::after {
  width: 1.25em;
  text-align: center; }

.c-icon--rotate-90::before, .c-icon-after--rotate-90::after {
  transform: rotate(90deg); }

.c-icon--rotate-180::before, .c-icon-after--rotate-180::after {
  transform: rotate(180deg); }

.c-icon--rotate-270::before, .c-icon-after--rotate-270::after {
  transform: rotate(270deg); }

.c-icon--flip-horizontal::before, .c-icon-after--flip-horizontal::after {
  transform: scaleX(-1); }

.c-icon--flip-vertical::before, .c-icon-after--flip-vertical::after {
  transform: scaleY(-1); }

.c-link {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  .c-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: currentColor;
    transform-origin: 0 0;
    transform: scale(0);
    transition: transform .2s;
    will-change: transform; }
  .c-link:hover, .c-link:focus, .c-link:active {
    text-decoration: none; }
    .c-link:hover:after, .c-link:focus:after, .c-link:active:after {
      transform: scale(1); }

.list-line {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list-line li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 .8rem; }
    .list-line li:after {
      content: "";
      display: block;
      position: absolute;
      right: -1px;
      top: 50%;
      height: 1em;
      width: 1px;
      transform: translateY(-50%);
      background-color: currentColor; }
    .list-line li:last-child:after {
      display: none; }

.burger {
  border: 0;
  padding: 0;
  background: none;
  height: 5rem;
  width: 5rem;
  transform-origin: 50% 50%;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-name: burger-in;
          animation-name: burger-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }
  .burger span {
    position: absolute;
    height: .4rem;
    left: .9rem;
    background-color: currentColor;
    width: 3.2rem;
    transition: transform 0s .4s, top 0s .4s, opacity 0s .4s; }
    .burger span:nth-child(1) {
      top: 1.4rem; }
    .burger span:nth-child(2) {
      top: 2.5rem; }
    .burger span:nth-child(3) {
      top: 3.7rem; }

.body--menu-visible {
  overflow: hidden; }
  .body--menu-visible .burger {
    -webkit-animation-name: burger-out;
            animation-name: burger-out; }
    .body--menu-visible .burger span:nth-child(1) {
      top: 2.2rem;
      transform: rotate(45deg); }
    .body--menu-visible .burger span:nth-child(2) {
      opacity: 0; }
    .body--menu-visible .burger span:nth-child(3) {
      top: 2.2rem;
      transform: rotate(-45deg); }

@-webkit-keyframes burger-in {
  0% {
    transform: rotate(0) scale(1); }
  50% {
    transform: rotate(-180deg) scale(0); }
  100% {
    transform: rotate(-360deg) scale(1); } }

@keyframes burger-in {
  0% {
    transform: rotate(0) scale(1); }
  50% {
    transform: rotate(-180deg) scale(0); }
  100% {
    transform: rotate(-360deg) scale(1); } }

@-webkit-keyframes burger-out {
  0% {
    transform: rotate(-360deg) scale(1); }
  50% {
    transform: rotate(-180deg) scale(0); }
  100% {
    transform: rotate(0) scale(1); } }

@keyframes burger-out {
  0% {
    transform: rotate(-360deg) scale(1); }
  50% {
    transform: rotate(-180deg) scale(0); }
  100% {
    transform: rotate(0) scale(1); } }

#tinymce {
  padding: 1rem !important; }

.editor-content {
  position: relative;
  line-height: 1.5em;
  color: #000; }
  .editor-content .clearfix:before,
  .editor-content .clearfix:after {
    content: " ";
    display: table; }
  .editor-content .clearfix:after {
    clear: both; }
  .editor-content p,
  .editor-content > div {
    margin: 1.25em 0; }
    .editor-content p:first-child,
    .editor-content > div:first-child {
      margin-top: 0; }
    .editor-content p:last-child,
    .editor-content > div:last-child {
      margin-bottom: 0; }
  .editor-content ul {
    margin: 1.25em 0;
    padding: 0;
    list-style-type: none; }
    .editor-content ul:first-child {
      margin-top: 0; }
    .editor-content ul:last-child {
      margin-bottom: 0; }
  .editor-content li {
    margin: 0.625em 0;
    padding: 0; }
    .editor-content li:before {
      content: "- "; }
  .editor-content h2 {
    margin-top: 1.875em;
    margin-bottom: 1.2em;
    font-size: 1.375em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000; }
    .editor-content h2:first-child {
      margin-top: 0; }
  .editor-content h3 {
    margin-top: 1.875em;
    margin-bottom: 1.2em;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000; }
    .editor-content h3:first-child {
      margin-top: 0; }
  .editor-content h4 {
    margin-top: 1.875em;
    margin-bottom: 1.3em;
    font-weight: 700; }
    .editor-content h4:first-child {
      margin-top: 0; }
  .editor-content .fl-intro {
    font-size: 1.15em;
    font-weight: 700;
    margin: 1.2em 0; }
    .editor-content .fl-intro:first-child {
      margin-top: 0; }
    .editor-content .fl-intro:last-child {
      margin-bottom: 0; }
  .editor-content a, .editor-content a:visited, .editor-content a:hover, .editor-content a:focus, .editor-content a:active {
    color: #000;
    text-decoration: underline; }
  .editor-content a:hover, .editor-content a:focus, .editor-content a:active {
    color: #000; }
  .editor-content strong, .editor-content b {
    font-weight: 700; }
  .editor-content i, .editor-content em {
    font-style: italic; }
  .editor-content .emphasis {
    color: #000;
    font-size: 1.5em;
    line-height: 1.6em;
    text-transform: uppercase; }
  .editor-content .wp-caption {
    margin: 0 auto;
    max-width: 100% !important; }
    .editor-content .wp-caption img {
      display: inline-block; }
    .editor-content .wp-caption .wp-caption-text {
      margin: 3rem auto; }
  .editor-content .wp-caption-dd,
  .editor-content .fl-caption,
  .editor-content .wp-caption-text {
    margin-top: .8em;
    font-size: 0.875em;
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "playfair", georgia, serif;
    color: #000;
    display: block; }
    @media only screen and (min-width: 64.1rem) {
      .editor-content .wp-caption-dd,
      .editor-content .fl-caption,
      .editor-content .wp-caption-text {
        padding-right: 10%;
        padding-left: 10%; } }
  .editor-content .aligncenter {
    text-align: center;
    width: auto !important; }
  .editor-content .alignleft,
  .editor-content .alignright {
    padding: 3rem;
    clear: both; }
  .editor-content .alignleft {
    float: left;
    padding-left: 0; }
  .editor-content .alignright {
    float: right;
    padding-right: 0; }
  .editor-content img {
    position: relative;
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 64.1rem) {
      .editor-content img.aligncenter {
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 64.1rem) {
      .editor-content img.alignleft, .editor-content img.alignright {
        width: auto; } }
  .editor-content table {
    position: relative;
    width: 100% !important;
    border-collapse: collapse; }
    .editor-content table td {
      border: 1px solid #000;
      padding: 5px; }
  .editor-content hr {
    border-top: 2px solid #000; }
  .editor-content .gallery li {
    margin: 0; }
    .editor-content .gallery li:before {
      content: "";
      display: none; }
  .editor-content .pictos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #AAA;
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 0;
    line-height: 1.3em; }
    .editor-content .pictos li {
      margin: 0;
      padding: 0 2rem; }
      .editor-content .pictos li:before {
        content: ""; }
    .editor-content .pictos img {
      display: block;
      margin: 0 auto 1rem;
      width: auto; }
  .editor-content .gallery-zoom {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    transition: background-color .3s; }
    .editor-content .gallery-zoom, .editor-content .gallery-zoom:visited, .editor-content .gallery-zoom:hover, .editor-content .gallery-zoom:focus, .editor-content .gallery-zoom:active {
      color: #fff;
      text-decoration: none; }
    .editor-content .gallery-zoom:before {
      content: "+";
      display: block;
      line-height: 4rem;
      text-align: center; }
  .editor-content .button, .buttons .editor-content a, .editor-content .buttons a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    padding: .8em .5em;
    min-width: 11em;
    letter-spacing: .1em;
    border: 1px solid #000;
    font-weight: 700;
    background-color: #000;
    text-align: center;
    transition: background-color .3s, color .3s; }
    .editor-content .button, .buttons .editor-content a, .editor-content .buttons a, .editor-content .button:visited, .buttons .editor-content a:visited, .editor-content .buttons a:visited, .editor-content .button:hover, .buttons .editor-content a:hover, .editor-content .buttons a:hover, .editor-content .button:focus, .buttons .editor-content a:focus, .editor-content .buttons a:focus, .editor-content .button:active, .buttons .editor-content a:active, .editor-content .buttons a:active {
      text-decoration: none; }
    .editor-content .button, .buttons .editor-content a, .editor-content .buttons a, .editor-content .button:visited, .buttons .editor-content a:visited, .editor-content .buttons a:visited {
      color: #fff; }
    .editor-content .button:hover, .buttons .editor-content a:hover, .editor-content .buttons a:hover, .editor-content .button:focus, .buttons .editor-content a:focus, .editor-content .buttons a:focus, .editor-content .button:active, .buttons .editor-content a:active, .editor-content .buttons a:active {
      color: #000;
      background-color: #fff; }
    .editor-content .button:active, .buttons .editor-content a:active, .editor-content .buttons a:active {
      border-color: #000;
      color: #000; }
    .editor-content .button span, .buttons .editor-content a span, .editor-content .buttons a span {
      position: relative; }
  .editor-content .button--secondary {
    background-color: #fff; }
    .editor-content .button--secondary, .editor-content .button--secondary:visited {
      color: #000; }
    .editor-content .button--secondary:hover, .editor-content .button--secondary:focus, .editor-content .button--secondary:active {
      color: #fff;
      background-color: #000; }
    .editor-content .button--secondary:active {
      border-color: #000;
      color: #000; }

.pagination {
  position: relative;
  text-align: center;
  font-family: "playfair", georgia, serif; }

.page-numbers {
  font-size: 1.6rem;
  letter-spacing: 3px;
  font-weight: 700;
  padding: .5em .5em; }
  @media only screen and (min-width: 64.1rem) {
    .page-numbers {
      padding: 0 .3em; } }
  .page-numbers, .page-numbers:visited, .page-numbers:hover, .page-numbers:active, .page-numbers:focus {
    text-decoration: none; }
  .page-numbers, .page-numbers:visited, .page-numbers:hover, .page-numbers:active, .page-numbers:focus {
    color: #000; }
  .page-numbers.current, .page-numbers.current:visited, .page-numbers.current:hover, .page-numbers.current:active, .page-numbers.current:focus {
    font-weight: 700;
    text-decoration: underline; }
  .page-numbers.prev, .page-numbers.next, .page-numbers.more {
    text-transform: uppercase; }
  .page-numbers.prev {
    position: absolute;
    left: 0; }
    @media only screen and (max-width: 64rem) {
      .page-numbers.prev {
        display: none; } }
  .page-numbers.next {
    position: absolute;
    right: 0; }
    @media only screen and (max-width: 64rem) {
      .page-numbers.next {
        display: none; } }

.nav-language {
  font-weight: 900; }
  .nav-language ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    @media only screen and (min-width: 64.1rem) {
      .nav-language ul {
        justify-content: flex-start; } }

.nav-language__list-item {
  margin-left: .1em;
  margin-right: .1em; }

.nav-language_item--current:after {
  transform: scale(1); }

.block-intro {
  text-align: center;
  font-family: 'playfair', serif;
  font-size: 9vw;
  line-height: 1.05em; }
  @media only screen and (min-width: 64.1rem) {
    .block-intro {
      font-size: 6vw; } }
  @media only screen and (min-width: 108.1rem) {
    .block-intro {
      font-size: 5vw; } }
  @media only screen and (min-width: 128.1rem) {
    .block-intro {
      font-size: 9.5rem;
      font-size: 6vw; } }
  @media only screen and (min-width: 144.1rem) {
    .block-intro {
      font-size: 9rem; } }
  .block-intro p {
    margin-top: .5em;
    margin-bottom: .5em; }
  .block-intro .bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  .block-intro .noise {
    background-image: url("../img/block-intro/noise.jpg"); }
  .block-intro .bg1 {
    background-image: url("../img/block-intro/bg1.png"); }
  .block-intro .bg2 {
    background-image: url("../img/block-intro/bg2.png"); }
  .block-intro .bg3 {
    background-image: url("../img/block-intro/bg3.png"); }

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: transform .5s;
  padding-right: 8rem;
  z-index: 99;
  background-color: #fff; }
  @media only screen and (min-width: 64.1rem) {
    .main-header {
      padding-right: 0; } }
  @media only screen and (min-width: 64.1rem) {
    .main-header .container-page {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }

.main-header__content {
  position: relative;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  z-index: 2; }
  @media only screen and (min-width: 64.1rem) {
    .main-header__content {
      height: 16rem; } }

.main-header__logo {
  position: fixed;
  width: 8rem;
  height: 8rem;
  top: 0;
  right: 0;
  overflow: hidden; }
  .main-header__logo:hover .c-icon {
    opacity: 0;
    transform: translateY(-100%); }
  .main-header__logo:hover .main-nav__toggle__wrapper {
    opacity: 1;
    transform: translateY(0); }
  .main-header__logo .main-nav__toggle__wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(0);
    transition: transform .5s, opacity .5s; }
  @media only screen and (min-width: 64.1rem) {
    .main-header__logo {
      left: 50%;
      top: 0;
      width: 12rem;
      height: 12rem;
      transform: translate(-50%, 0); }
      .main-header__logo .main-nav__toggle__wrapper {
        transform: translateY(100%); } }
  .main-header__logo .main-nav__toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.5rem;
    margin-top: -2.5rem; }
  .main-header__logo .c-icon {
    display: none;
    top: 10%;
    transition: transform .5s, opacity .5s; }
    @media only screen and (min-width: 64.1rem) {
      .main-header__logo .c-icon {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%; } }

@media only screen and (min-width: 64.1rem) {
  .body .main-header__logo,
  .body .main-header__content {
    height: 16rem; }
  .body--scroll .main-header__logo,
  .body--scroll .main-header__content {
    height: 10rem; }
  .body--scroll .main-header__logo .c-icon,
  .body--menu-visible .main-header__logo .c-icon {
    opacity: 0;
    transform: translateY(-100%); }
  .body--scroll .main-header__logo .main-nav__toggle__wrapper,
  .body--menu-visible .main-header__logo .main-nav__toggle__wrapper {
    opacity: 1;
    transform: translateY(0); }
  .body--scroll .main-header {
    transform: translateY(-100%); }
  .body--scroll-up .main-header,
  .body--menu-visible .main-header {
    transform: none; } }

.main-header__title {
  margin: 0; }
  @media only screen and (min-width: 64.1rem) {
    .main-header__title {
      margin-top: 1rem; } }
  .main-header__title .c-icon {
    display: block;
    width: 22rem;
    height: 2.5rem; }

.main-header__manifesto {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0; }
  @media only screen and (min-width: 64.1rem) {
    .main-header__manifesto {
      font-size: 1.2rem;
      width: 40%;
      text-align: right; } }
  @media only screen and (min-width: 128.1rem) {
    .main-header__manifesto {
      font-size: 1.6rem; } }

.main-header__nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform .5s;
  display: flex;
  flex-direction: column;
  padding-top: 8rem; }

.body--menu-visible .main-header__nav {
  transform: translateY(0); }

@media only screen and (min-width: 64.1rem) {
  .main-header__nav {
    padding-top: 16rem; }
  .body--scroll .main-header__nav {
    padding-top: 10rem; } }

.main-footer {
  background-color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  padding-top: var(--vertical-spacer);
  padding-bottom: var(--vertical-spacer); }
  @media only screen and (min-width: 128.1rem) {
    .main-footer {
      font-size: 1.4rem; } }
  .main-footer li {
    padding-top: .2em;
    padding-bottom: .2em; }

.main-footer__title {
  margin: 0 auto 3rem;
  padding-top: .2em;
  width: 22rem; }
  .main-footer__title .c-icon {
    width: 100%; }

.main-footer__links {
  margin-bottom: 2rem; }

.main-footer__item {
  position: relative;
  text-align: center; }

.main-footer__item--center .main-footer__links {
  opacity: .5; }

@media only screen and (min-width: 64.1rem) {
  .main-footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .main-footer__item--center {
    width: 33%;
    order: 2; }
  .main-footer__item--left {
    order: 1;
    width: 33%;
    text-align: left; }
  .main-footer__item--right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 3;
    width: 33%;
    text-align: right; } }

@media only screen and (min-width: 108.1rem) {
  .main-footer__item--center {
    width: 20%; }
  .main-footer__item--left {
    width: 40%; }
  .main-footer__item--right {
    width: 40%; } }

h1, h2, h3 {
  letter-spacing: .15em; }

.content-main {
  height: 2000px;
  background-color: #68A; }

.content-main,
.main-footer {
  font-size: 1.6rem; }
  @media only screen and (min-width: 64.1rem) {
    .content-main,
    .main-footer {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 108.1rem) {
    .content-main,
    .main-footer {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 128.1rem) {
    .content-main,
    .main-footer {
      font-size: 1.7rem; } }
  @media only screen and (min-width: 144.1rem) {
    .content-main,
    .main-footer {
      font-size: 2.1rem; } }

input, select, textarea {
  font-size: 1.4rem; }
  @media only screen and (min-width: 64.1rem) {
    input, select, textarea {
      font-size: 1.3rem; } }
  @media only screen and (min-width: 108.1rem) {
    input, select, textarea {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 128.1rem) {
    input, select, textarea {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 144.1rem) {
    input, select, textarea {
      font-size: 1.9rem; } }

.page__submenu {
  display: none; }
  @media only screen and (min-width: 64.1rem) {
    .page__submenu {
      display: block;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      z-index: 2; }
      .page__submenu .page__submenu__nav {
        padding: 3rem 8rem 3rem 3rem;
        background-color: #fff;
        margin-top: -8rem;
        margin-left: -10rem;
        margin-right: -10rem;
        width: 17em; } }
    @media only screen and (min-width: 64.1rem) and (min-width: 128.1rem) {
      .page__submenu .page__submenu__nav {
        position: absolute;
        right: 0; } }
    @media only screen and (min-width: 64.1rem) and (min-width: 144.1rem) {
      .page__submenu .page__submenu__nav {
        margin-left: 0;
        margin-right: -10px; } }
  @media only screen and (min-width: 64.1rem) {
      .page__submenu .page-submenu {
        position: relative; } }

.page__content {
  position: relative;
  padding: 3em 0; }
  @media only screen and (min-width: 64.1rem) {
    .page__content.page__content--has-submenu {
      padding-top: 0; } }
  @media only screen and (min-width: 128.1rem) {
    .page__content.page__content--has-submenu {
      padding-top: 3em;
      margin-right: 12em;
      z-index: 1; } }
  @media only screen and (min-width: 108.1rem) {
    .page__content {
      padding-left: 12%;
      padding-right: 12%; } }
  @media only screen and (min-width: 128.1rem) {
    .page__content {
      padding-top: 2.7em; } }

.page__submenu--mobile {
  display: block;
  margin: 3rem 7rem 5rem; }
  @media only screen and (min-width: 64.1rem) {
    .page__submenu--mobile {
      display: none; } }

.sidebar__item {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 64.1rem) {
    .sidebar__item:first-child {
      margin-top: 0; }
    .sidebar__item:last-child {
      margin-bottom: 0; } }

@media only screen and (min-width: 64.1rem) {
  .sidebar--mobile {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */ } }

@media only screen and (max-width: 64rem) {
  .inner-wrapper-sticky {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important; }
  .sidebar--desk {
    display: none; } }

.page-template-home .content__bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover; }

.page-template-home .content-main {
  padding: 3rem 0; }
  @media only screen and (min-width: 64.1rem) {
    .page-template-home .content-main {
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      padding-top: 10rem; } }

.home-container.container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 64.1rem) {
    .home-container.container-page {
      justify-content: flex-end;
      align-items: flex-end; } }

.home_content {
  position: relative;
  padding: 2rem;
  background: url(../img/motif-fleche.jpg) 50% 50% repeat #fff;
  background-size: 60%; }
  @media only screen and (min-width: 64.1rem) {
    .home_content {
      width: 70%;
      padding: 5rem 7.5rem 7.5rem 5rem;
      margin-left: -10rem;
      margin-right: -10rem; } }
  @media only screen and (min-width: 108.1rem) {
    .home_content {
      width: 53%; } }
  @media only screen and (min-width: 144.1rem) {
    .home_content {
      padding: 5rem 5rem 7.5rem; } }

.home_content__title {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 2em; }
  .home_content__title:after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 0;
    height: 1px;
    width: 4em;
    background-color: #fff; }

.home_content__text p {
  margin: 0; }

.home_content__buttons {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap; }
  .home_content__buttons .button, .home_content__buttons .buttons a, .buttons .home_content__buttons a {
    position: relative;
    margin-bottom: 1em;
    min-width: 10em; }
    @media only screen and (max-width: 64rem) {
      .home_content__buttons .button, .home_content__buttons .buttons a, .buttons .home_content__buttons a {
        width: 100%; } }

.error404 .content-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }

.page--404 {
  position: relative;
  min-height: 100%;
  width: 100%; }
  .page--404 .page__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%; }
  .page--404 .container-page {
    margin-top: -5rem;
    padding: 7rem;
    background-color: #fff;
    color: #000; }
  .page--404 .page-header__title {
    color: #000;
    margin-bottom: 3rem;
    letter-spacing: .05em; }

.admin-bar .main-header {
  top: 32px; }

.admin-bar .cadre1,
.admin-bar .cadre2,
.admin-bar .cadre5,
.admin-bar .cadre6 {
  margin-top: 32px; }

@media screen and (max-width: 782px) {
  .admin-bar .main-header {
    top: 46px; }
  .admin-bar .cadre1,
  .admin-bar .cadre2,
  .admin-bar .cadre5,
  .admin-bar .cadre6 {
    margin-top: 46px; }
  .admin-bar #wpadminbar {
    position: fixed; } }
