
h1, h2, h3 {
    letter-spacing: .15em;
}

// .main-wrapper {
//     position: relative;
//     min-height: 100%;
//     padding-top: $header-mobile-height;
//     @include media-size-s-and-more {
//         padding-top: 13rem;
//     }
//     @include media-size-m-and-more {
//         padding-top: $header-height;
//     }
// }

// .content-main {
//     position: relative;
//     min-height: calc(100vh - #{$header-mobile-height});
//     @include media-size-s-and-more {
//         min-height: calc(100vh - 13rem);
//     }
//     @include media-size-m-and-more {
//         min-height: calc(100vh - #{$header-height});
//     }
// }


// tailles de texte
.content-main {
    height: 2000px;
    background-color: #68A;
}

.content-main,
.main-footer {
    font-size: 1.6rem;
    @include media-size-s-and-more {
        font-size: 1.5rem;
    }
    @include media-size-m-and-more {
        font-size: 1.6rem;
    }
    @include media-size-l-and-more {
        font-size: 1.7rem;
    }
    @include media-size-xl-and-more {
        font-size: 2.1rem;
    }
}

input, select, textarea {
    font-size: 1.4rem;
    @include media-size-s-and-more {
        font-size: 1.3rem;
    }
    @include media-size-m-and-more {
        font-size: 1.4rem;
    }
    @include media-size-l-and-more {
        font-size: 1.5rem;
    }
    @include media-size-xl-and-more {
        font-size: 1.9rem;
    }
}



// communs à la plupart des pages

.page__submenu {
    display: none;
    @include media-size-s-and-more {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        z-index: 2;

        .page__submenu__nav {
            padding: 3rem 8rem 3rem 3rem;
            background-color: #fff;
            margin-top: -8rem;
            margin-left: -10rem;
            margin-right: -10rem;
            width: 17em;

            @include media-size-l-and-more {
                position: absolute;
                right: 0;
            }
            @include media-size-xl-and-more {
                margin-left: 0;
                margin-right: -10px;
            }
        }

        .page-submenu {
            position: relative;
        }
    }
}



.page__content {
    position: relative;
    padding: 3em 0;
    // font-size: 1.2em;
    // @include media-size-s-and-more {
    //     padding-top: 0;
    // }

    &.page__content--has-submenu {
        @include media-size-s-and-more {
            padding-top: 0;
        }
        @include media-size-l-and-more {
            padding-top: 3em;
            margin-right: 17em - 5em;  // largeur du menu - marge négative du menu
            z-index: 1;
        }
    }

    // on est sur une seule colonne par défaut
    // donc on rédui à droite et à gauche pour que le contenu reste lisible
    @include media-size-m-and-more {
        padding-left: 12%;
        padding-right: 12%;
    }

    @include media-size-l-and-more {
        padding-top: 2.7em;
    }
}



.page__submenu--mobile {
    display: block;
    margin: 3rem 7rem 5rem;
    @include media-size-s-and-more {
        display: none;
    }
}



