// footer

.main-footer {
    background-color: $color-bg;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);

    @include media-size-l-and-more {
        font-size: 1.4rem;
    }

    li {
        padding-top: .2em;
        padding-bottom: .2em;
    }
}

.main-footer__title {
    margin: 0 auto 3rem;
    padding-top: .2em;
    width: 22rem;

    .c-icon {
        width: 100%;
    }
}

.main-footer__links {
    margin-bottom: 2rem;
}

.main-footer__item {
    position: relative;
    text-align: center;
}

.main-footer__item--center {
    .main-footer__links {
        opacity: .5;
    }
}




@include media-size-s-and-more {

    .main-footer__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-footer__item--center {
        width: 33%;
        order: 2;
    }

    .main-footer__item--left {
        order: 1;
        width: 33%;
        text-align: left;
    }

    .main-footer__item--right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        order: 3;
        width: 33%;
        text-align: right;
    }

}



@include media-size-m-and-more {

    .main-footer__item--center {
        width: 20%;
    }

    .main-footer__item--left {
        width: 40%;
    }

    .main-footer__item--right {
        width: 40%;
    }
}