
// styles des placeholders

::-webkit-input-placeholder {
    text-transform: uppercase;
}

//  Firefox 18-
\:-moz-placeholder {
    text-transform: uppercase;
}

// Firefox 19+
::-moz-placeholder {
    text-transform: uppercase;
}

\:-ms-input-placeholder {
    text-transform: uppercase;
}

// Reset fonts for relevant elements
// --------------------------------------------------------------------------

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



form {

    p {
        // margin: pxtoem(10, 14) 0
    }

    label, input, textarea {
        position: relative;
        // display: block
        width: 100%;
        font-weight: normal;
    }

    label {
        margin-bottom: 3px;
        text-transform: uppercase;
        font-size: pxtoem(11, 14);
    }


    input[type="text"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="range"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], input[type="password"], input[type="email"], input[type="password"], input[type="submit"],
    textarea {
        padding: .4em 10px;
        border: 2px solid #fff;
        font-size: pxtoem(14);
        height: 2.7em;
        line-height: 2.7em;
        background-color: #fff;
        color: $color-text--darker;
        transition: background-color .3s;
        &:focus {
            border-color: #848484;
            // background-color: lighten(#e4e4e4, 4%)
        }
    }

    input[type="submit"] {
        display: inline-block;
        margin-top: pxtoem(10, 13);
        height: auto;
        line-height: 2em;
        border: 0;
        padding: 6px;
        background-color: $color-main;
        text-transform: uppercase;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: $color-second;
        }

        &.submit--green {
            background-color: #8ec549;
            // border-color: #8ec549
            &:hover, &:active, &:focus {
                background-color: lighten(#8ec549, 8%);
            }
        }

        &.submit--yellow {
            background-color: $color-third;
            // border-color: $color-third
            color: #000;
            &:hover, &:active, &:focus {
                background-color: lighten($color-third, 8%);
                color: #000;
            }
        }
    }

    textarea {
        height: 190px;
    }

    .custom-select, select {
        text-transform: uppercase;
    }

    .field-wrapper {
        clear: left;
    }

    .field {
        padding: 7px 10px;
    }

    .child-field > * {
        padding: 4px 2px;
    }


    .field:not(.wpcf7-checkbox) {
        label {
            @extend .visuallyhidden;
        }
    }


    .field--half,
    .field--quart {
        textarea {
            height: 80px;
        }
    }

    .field--half {
        @include media-size-s-and-more {
            width: 50%;
            float: left;
        }
    }

    .field--quart,
    .child-field--quart > * {
        @media only screen and (min-width : 800px ) {
            float: left;
            width: 48%;
        }
    }

    .field--quart {
        @include media-size-s-and-more {
            width: 25%;
        }
    }

    .child-field--quart > * {
        @include media-size-s-and-more {
            width: 23%;
        }
    }

    .field--full {
        clear: both;
    }

    h2.field {
        padding: 30px 10px 0;
    }



    // WP contact form 7
    div.wpcf7-response-output {
        clear: both;
        margin: 0;
        padding: 1em;
        border: 1px solid transparent;
    }

    div.wpcf7-mail-sent-ok {
        border-color: #d6e9c6;
        color: #3c763d;
        background-color: #dff0d8;
    }

    div.wpcf7-validation-errors,
    div.wpcf7-spam-blocked,
    .wpcf7-not-valid {
        border-color: #faebcc;
        color: #8a6d3b;
        background-color: #fcf8e3;
    }

    div.wpcf7-spam-blocked,
    div.wpcf7-mail-sent-ng {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    span.wpcf7-not-valid-tip {
        color: $color-error;
    }

    .wpcf7-response-output {
        margin-left: 10px;
        margin-right: 10px;
    }
}


.field--prop-type {
    .last {
        @media only screen and (min-width : 800px ) {
            float: left;
            width: auto;
        }
        @include media-size-s-and-more {
            width: 48%;
        }
    }
}

form {
    div.wpcf7-validation-errors,
    div.wpcf7-spam-blocked
    .wpcf7-not-valid,
    input.wpcf7-not-valid {  // surcharge
        border: 2px solid red !important;
        background-color: rgba($color-error, .12);
    }
}