
// .home {
//  color: #fff;

//  &.is-scrolling {
//      color: $text-color;
//  }
// }


$header-height: 16rem;
$header-collapsed: 10rem;
$header-mobile: 8rem;


.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform .5s;
    padding-right: $header-mobile;
    z-index: 99;
    background-color: $color-bg;

    @include media-size-s-and-more {
        padding-right: 0;
    }

    .container-page {

        @include media-size-s-and-more {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.main-header__content {
    position: relative;
    height: $header-mobile;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $color-bg;
    z-index: 2;

    @include media-size-s-and-more {
        height: $header-height;
    }
}



.main-header__logo {
    position: fixed;
    width: $header-mobile;
    height: $header-mobile;
    top: 0;
    right: 0;
    overflow: hidden;

    &:hover {
        .c-icon {
            opacity: 0;
            transform: translateY(-100%);
        }
        .main-nav__toggle__wrapper {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .main-nav__toggle__wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translateY(0);
        transition: transform .5s, opacity .5s;
    }

    @include media-size-s-and-more {
        left: 50%;
        top: 0;
        width: 12rem;
        height: 12rem;
        transform: translate(-50%, 0);

        .main-nav__toggle__wrapper {
            transform: translateY(100%);
        }
    }


    .main-nav__toggle {
        position: absolute;
        top: 50%;
        left: 50%;
        // recentrage, l'élément fait 5x5
        // pas de transform car il y a déjà des animations
        margin-left: -2.5rem;
        margin-top: -2.5rem;
    }

    .c-icon {
        display: none;
        top: 10%;
        transition: transform .5s, opacity .5s;

        @include media-size-s-and-more {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}


@include media-size-s-and-more {

    // le header reste présent si
        // on est haut de la page (class .scroll-up, pas de class .scroll)
        // si le menu est ouvert (class .body--menu-visible)

    //on voit le burger
        // si on est pas en haut de la page (class .scroll)
        // si le menu est ouvert (class .body--menu-visible)
        // si on survole la zone logo / burger (main-header__logo)

    // le header est en mode mini
        // V si on est train de scroller dans la page
    // V dans tous les cas, le menu s'affiche pile au dusses (pas le même offset si header mini ou normal)

    // hauteur du header
    .body {
        .main-header__logo,
        .main-header__content {
            height: $header-height;
        }
    }

    .body--scroll {
        .main-header__logo,
        .main-header__content {
            height: $header-collapsed;
        }
    }



    // visibilité de l'icone VS  logo
    .body--scroll,
    .body--menu-visible {

        .main-header__logo {
            .c-icon {
                opacity: 0;
                transform: translateY(-100%);
            }
            .main-nav__toggle__wrapper {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    // visibilité du header
    .body--scroll {
        .main-header {
            transform: translateY(-100%);
        }
    }

    .body--scroll-up,
    .body--menu-visible {
        .main-header {
            // transform: translateY(0); // mess up context for fixed element, make child element absolute insted of fixed
            transform: none;
        }
    }
}




.main-header__title {
    margin: 0;

    @include media-size-s-and-more {
        margin-top: 1rem;
    }

    .c-icon {
        display: block;
        width: 22rem;
        height: 2.5rem;
    }
}

.main-header__manifesto {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;

    @include media-size-s-and-more {
        font-size: 1.2rem;
        width: 40%;
        text-align: right;
    }
    @include media-size-l-and-more {
        font-size: 1.6rem;
    }
}