// nav


.main-header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-bg;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    padding-top: $header-mobile;
}

.body--menu-visible {
    .main-header__nav {
        transform: translateY(0);
    }
}

@include media-size-s-and-more {

    .main-header__nav {
        padding-top: $header-height;
    }

    .body--scroll {
        .main-header__nav {
            padding-top: $header-collapsed;
        }
    }
}


// .main-nav__toggle {} // dans le header
.main-nav__container {}

.nav {}


