


.sidebar__item {
    margin-top: 50px;
    margin-bottom: 50px;

    @include media-size-s-and-more {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sidebar--mobile {
    @include media-size-s-and-more {
        // .visuallyhidden
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap; /* 1 */
    }
}


// pour overider le plugin de scrolling sidbar en version mobile
@include media-size-s-and-less {
    .inner-wrapper-sticky {
        position: relative !important;
        transform: translate3d(0px, 0px, 0px) !important;
        left: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
    }

    .sidebar--desk {
        display: none;
    }
}






