

// quand la barre d'admin de WP est affichée
.admin-bar {

    // place le header en dessous de la barre d'admin
    .main-header {
        top: 32px;
    }
    .content-main {
        // top: 32px;
    }

    .cadre1,
    .cadre2,
    .cadre5,
    .cadre6 {
        margin-top: 32px;
    }
    @media screen and ( max-width: 782px ) {
        .main-header {
            top: 46px;
        }
        .content-main {
            // top: 46px;
        }

        .cadre1,
        .cadre2,
        .cadre5,
        .cadre6 {
            margin-top: 46px;
        }

        #wpadminbar {
            position: fixed;
        }
    }

}
