
// body class
.error404 {
    .content-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }


}


.page--404 {
    position: relative;
    min-height: 100%;
    width: 100%;

    .page__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }

    .container-page {
        margin-top: -5rem;  // léger décentrage
        padding: 7rem;
        background-color: #fff;
        color: $color-text;
    }

    .page-header__title {
        color: $color-text;
        margin-bottom: 3rem;
        letter-spacing: .05em;
    }

}
