


.page-template-home {

    .content__bg-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: 50% 50%;
        background-size: cover;
    }

    .content-main {
        padding: 3rem 0;

        @include media-size-s-and-more {
            justify-content: flex-end;
            // align-items: flex-end;
            display: flex;
            flex-direction: column;
            padding-top: 10rem;
        }
    }
}


.home-container {

    &.container-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-size-s-and-more {
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}

.home_content {
    position: relative;
    padding: 2rem;
    background: url(#{$img}motif-fleche.jpg) 50% 50% repeat #fff;
    background-size: 60%;


    @include media-size-s-and-more {
        width: 70%;
        padding: 5rem 7.5rem 7.5rem 5rem;
        margin-left: -10rem;
        margin-right: -10rem;
    }
    @include media-size-m-and-more {
        width: 53%;
    }

    @include media-size-xl-and-more {
        padding: 5rem 5rem 7.5rem;
    }
}

.home_content__title {
    position: relative;
    color: $color-second;
    text-transform: uppercase;
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 2em;
    &:after {
        content: "";
        position: absolute;
        bottom: -1em;
        left: 0;
        height: 1px;
        width: 4em;
        background-color: $color-second;
    }
}

.home_content__text {
    p {
        margin: 0;
    }
}

.home_content__buttons {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    .button {
        position: relative;
        margin-bottom: 1em;
        min-width: 10em;
        @include media-size-s-and-less {
            width: 100%;
        }
    }
}
