
// CSS pour l'admin

//cache les champs non utilisés

.heateor_sss_meta,
.term-description-wrap {
    display: none;
}

// cache les champs inutiles d'event calendar
#event_tribe_venue,
#event_tribe_organizer,
#event_url,
#event_cost,
#tribe_events_event_options {
    display: none
}

.menu-icon-tribe_events {
    li {
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(9) {
            display: none;
        }
    }
}