/*
 * Stylesheets for Project
 */

@charset "UTF-8";

// base css
@import   "utilities/variables";

$assets: "assets/";
$fonts: $assets + "fonts/";
$img: $assets + "img/";
$video: $assets + "videos/";


@import   "utilities/typography";
@import   "utilities/mixins";
@import   "utilities/mediaqueries";

// helpers
@import   "../../node_modules/normalize-scss/sass/normalize";

@import   "utilities/helpers";

// content
@import   "partials/components/editor-content";


// styles des textes

body#tinymce.wp-editor {
    font-family: $font-main;

    @extend .editor-content;
}
